#footer.grid
    #lobby(data-bind="event:{click:()=>sactive('lobby')}, attr:{'data-chosen':active()=='lobby'?true:false}")
        img.navbar(src="/images/auction/star_on.svg")
        span!=translations.auctions[lang]
    #wallet(data-bind="event:{click:()=>sactive('wallet')}, attr:{'data-chosen':active()=='wallet'?true:false}")
        img.navbar(src="/images/auction/wallet_on.svg")
        span!=translations.r[lang]
    #refs(data-bind="event:{click:()=>sactive('refs')}, attr:{'data-chosen':active()=='refs'?true:false}")
        img.navbar(src="/images/auction/refs_on.svg")
        span!=translations.refs[lang]
    #profile(data-bind="event:{click:()=>sactive('profile')}, attr:{'data-chosen':active()=='profile'?true:false}")
        img.navbar(src="/images/auction/profile_on.svg")
        span!=translations.prof[lang]