:root {
    --bg: #F4F5F7;
    --bg2: #ffffff;
    --bg3: #4378FF1A;
    --border: rgba(67, 120, 255, 0.1);
    --button: #0A84FF;
    --grey: #5E86B6;
    --text: black;
    --gradient: transparent;
}
